ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #36393E;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 100px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    	background-color: #1e2023;
	font-family: 'Roboto', sans-serif;
}

body
{
	background-image: url('bg.jpg');
	background-size: 100%;
	font-family: 'Roboto', sans-serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -2;
}

.text
{
	font-family: 'Roboto', sans-serif;
}

#div {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

	width: 1500px;
	height: 5000px;

	background-color:#000000;
	opacity: 0.90;
	align-items: center;
	z-index: -1;
}